.body {
    height: min-content;
    width: 100%;
}

.header {
    height: 10vh;
    width: 100%;
}

.header .logo {
    height: 10vh;
    width: 55%;
    display: flex;
    justify-content: start;
}

.header .logo img {
    height: 10vh;
    user-select: none;
}

.contenido-principal {
    /* background-color: red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    height: 70vh;
    width: 30%;
    backdrop-filter: blur(10px);
    box-shadow: -10px 10px 20px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta .form-box {
    /* background-color: darkgoldenrod; */
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: center;
    flex-wrap: wrap;
}

.form-box h2 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
    filter: drop-shadow(-20px 20px 5px black);
    -webkit-filter: drop-shadow(-20px 20px 5px black);
    user-select: none;
}

.input-box {
    position: relative;
    /* background-color: blue; */
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.input-box label {
    position: absolute;
    top: 22%;
    left: 5px;
    transform: translateY(-50);
    font-size: 1.2em;
    user-select: none;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.153);
    transition: .3s ease;
}

.input-box input:focus~label {
    top: -13px;
}

.input-box input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
}

.input-box .icon {
    position: absolute;
    right: 5px;
    line-height: 70px;
    font-size: 1.2em;
    color: white;
}

.form-box .recuperar {
    /* background-color: red; */
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
    display: block;
    text-align: left;
    font-size: 0.9em;
    position: relative;
}

.form-box .btn {
    background-color: transparent;
    color: white;
    width: 57%;
    height: 40px;
    border: 1px solid black;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.form-box .btn span {
    position: relative;
    z-index: 2;
}

.form-box .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.179);
    position: absolute;
    top: 0px;
    left: 100%;
    transition: .5s ease;
}

.form-box .btn:hover::after {
    left: 0%;
}

.login-register {
    background-color: rgba(0, 0, 0, 0.218);
    margin-top: 20px;
    border-radius: 5px;
}

.login-register p {
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
}

.login-register p a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* corte1 */
.Btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.svgIcon {
    width: 16px;
}

.svgIcon path {
    fill: white;
}

.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}

/* corte2 */
button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

button:hover span {
    transform: translateX(7px);
}


/* corte3 */

/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */

.card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 254px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-photo {
    /* clear and add new css */
    transform: scale(0.3) translate(220px, 230px);
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 50.8%) 14% 30%/11% 11%, radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 10% 30%/16% 16%, radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 7.5% 29%/20% 20%, radial-gradient(circle, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 50.8%) 86% 30%/11% 11%, radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 90% 30%/16% 16%, radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 92.5% 29%/20% 20%, radial-gradient(circle at 50% 0, #ffdab9 29.5%, #8b4513 30%, #8b4513 35%, rgba(139, 69, 19, 0) 35.5%) 50% 95%/40% 20%, radial-gradient(ellipse at 50% 100%, rgba(139, 69, 19, 0) 49%, #8b4513 49.5%, #8b4513 52%, rgba(139, 69, 19, 0) 52.5%) 50% 110%/120% 40%, radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 35%, white 35%, white 45%, rgba(255, 255, 255, 0) 45.5%) 50% 89%/40% 13%, linear-gradient(#8b4513, #8b4513) 37% 100%/.25em 22%, linear-gradient(#8b4513, #8b4513) 63% 100%/.25em 22%, linear-gradient(80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 24% 100%/1em 18%, linear-gradient(-80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 76% 100%/1em 18%, linear-gradient(162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 30% 100%/1.5em 21%, linear-gradient(-162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 70% 100%/1.5em 21%, radial-gradient(ellipse at 100% 100%, #556b2f 50%, rgba(85, 107, 47, 0) 50.5%) 0 100%/37% 29%, radial-gradient(ellipse at 0 100%, #556b2f 50%, rgba(85, 107, 47, 0) 50.5%) 100% 100%/37% 29%, radial-gradient(ellipse at 50% 100%, #222 51%, rgba(0, 0, 0, 0) 51.5%) 50% 110%/120% 40%, radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0) 40.5%) 50% 82%/20% 20%, linear-gradient(to right, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20% 20%, linear-gradient(to left, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20% 20%, linear-gradient(#ffdab9, #ffdab9) 50% 80%/20% 20%, linear-gradient(#48240a, #48240a) 50% 100%/65% 60%, radial-gradient(circle, white 30%, rgba(255, 255, 255, 0) 62%) 50% 50%/100% 100%;
    background-color: #ccc;
    background-repeat: no-repeat;
    border-radius: 30%;
}

/* delete */
.card-photo::before {
    display: block;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    height: 200px;
    left: 50%;
    top: -10%;
    margin-left: -80px;
    background: radial-gradient(circle at 50% 0, #ffdab9 30%, #8b4513 30.5%, #8b4513 41%, rgba(139, 69, 19, 0) 41.5%) 50% 76%/2em 2em, radial-gradient(ellipse, rgba(139, 69, 19, 0) 25%, #5e2f0d 25.5%, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 50% 100%/100% 40%, radial-gradient(ellipse at 50% 0, #8b4513 40%, #ffdab9 40.5%, #ffdab9 58%, rgba(255, 218, 185, 0) 59%) 50% 83%/3em 1em, linear-gradient(#5e2f0d, #5e2f0d) 50% 86%/1em 1em, radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 26% 56%/1em 1em, radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 74% 56%/1em 1em, radial-gradient(ellipse, rgba(139, 69, 19, 0) 52%, #8b4513 52.5%, #8b4513 55%, rgba(139, 69, 19, 0) 55.5%) 50% 100%/150% 80%, radial-gradient(ellipse, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.15) 46.5%, rgba(0, 0, 0, 0.15) 53%, rgba(0, 0, 0, 0) 53%) 50% 100%/150% 80%, radial-gradient(ellipse, #ffdab9 53%, rgba(255, 218, 185, 0) 53.5%) 50% 100%/150% 80%, radial-gradient(ellipse at 50% 100%, rgba(139, 69, 19, 0) 35.5%, #8b4513 36%, #8b4513 38%, white 38.5%) 50% -45%/110% 60%, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 30% 26%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 40% 25%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 50% 24.5%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 60% 25%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 70% 26%/1em 1em, radial-gradient(ellipse, #666 63%, #8b4513 63.5%, #8b4513 66%, rgba(139, 69, 19, 0) 66.5%) 50% 100%/150% 80%, radial-gradient(ellipse, rgba(139, 69, 19, 0) 40%, #5e2f0d 40.5%) 50% 0/150% 80%, linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)) 50% 50%/100% 100%;
    background-repeat: no-repeat;
    background-color: #ffdab9;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    border: 4px solid #8b4513;
    box-shadow: inset 0 -.2em 0 .5em rgba(0, 0, 0, 0.15), inset 0 -1.6em 0 #5e2f0d;
}

/* delete */
.card-photo::after {
    display: block;
    content: '';
    position: absolute;
    width: 2.5em;
    height: .8em;
    left: 28.5%;
    top: 26%;
    background-color: #5e2f0d;
    border-radius: .3em;
    box-shadow: 4.2em 0 0 #5e2f0d;
}

.card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
}

.card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
}

.card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
}

.card:hover>.card-socials {
    opacity: 1;
    height: 35px;
}

.card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
}

.card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(160px, 150px);
}

/* corte4 */

/* GENERAL */

.credit {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    color: white;
}

.credit a {
    color: inherit;
}

/* Main Circle */
.main-circle {
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%)
}

/* Phone */
.phone {
    position: relative;
    z-index: 2;
    width: 18rem;
    height: 17rem;
    background-color: inherit;
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



/* Top */
.menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5rem;
}

.battery {
    width: .85rem;
    height: .45rem;
    background-color: black;
}

.network {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.8px 7.2px 6.8px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: .12rem .5rem;
}

/* Middle */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 70%;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}

.circle {
    position: relative;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
    margin: auto;
}

.crescent {
    position: absolute;
    border-radius: 100%;
    right: 0;
    width: 6rem;
    height: 6rem;
    background: white;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

label,
.toggle {
    height: 2.8rem;
    border-radius: 100px;
}

label {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    margin: 1.8rem 0 4rem 0;
    cursor: pointer;
}

.toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
    font-size: 90%;
    font-weight: bolder;
    color: black;
    width: 65%;
    margin-left: 17.5%;
    margin-top: 6.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dark {
    opacity: .5;
}

.mark {
    border-radius: 100px;
    background-color: black;
}

.time {
    color: black;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
    display: none;
}

/* Toggle */
[type="checkbox"]:checked+.app .toggle {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #34323D;
}

[type="checkbox"]:checked+.app .dark {
    opacity: 1;
    color: white;
}

[type="checkbox"]:checked+.app .light {
    opacity: 1;
    color: white;
}

/* App */
[type="checkbox"]:checked+.app .body {
    background-color: #26242E;
    color: white;
}

/* Circle */
[type="checkbox"]:checked+.app .crescent {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #26242E;
}

[type="checkbox"]:checked+.app .circle {
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}

[type="checkbox"]:checked+.app .main-circle {
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}

[type="checkbox"]:checked+.time {
    color: white;
}

[type="checkbox"]:checked+.app .body .phone .menu .time {
    color: white;
}

[type="checkbox"]:checked+.app .body .phone .menu .icons .network {
    border-color: transparent transparent white transparent;
}

[type="checkbox"]:checked+.app .body .phone .menu .icons .battery {
    background-color: white;
}

[type="checkbox"]:checked+.app .body {
    border-radius: 40px;
    ;
}

.menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* corte5 */

.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    display: grid;
    gap: 2em;
    place-content: center;
    width: 400px;
}

.container input[type=radio] {
    display: none;
}

.input-btn:is(:checked)+.neon-btn .span {
    inset: 2px;
    background-color: #4090b5;
    background: repeating-linear-gradient(to bottom, transparent 0%, #4090b5 1px, #4090b5 3px, #4090b5 5px, #4090b5 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsl(295, 60%, 12%) 100%);
    box-shadow: inset 0 40px 20px hsl(296, 59%, 10%);
}

.input-btn:is(:checked)+.neon-btn .txt {
    text-shadow: 2px 4px 1px #9e30a9, 2px 2px 1px #4090b5, 0 0 20px rgba(255, 255, 255, 0.616);
    color: rgb(255, 255, 255);
    animation: colorchange 0.3s ease;
}

.input-btn:is(:checked)+.neon-btn::before {
    animation-duration: 0.6s;
}

.input-btn:is(:checked)+.neon-btn::after {
    animation-duration: 0.6s;
}

.neon-btn {
    width: 300px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 5em;
    text-align: right;
    background: transparent;
    position: relative;
    overflow: hidden;
    transition: all 2s ease-in-out;
    -webkit-clip-path: polygon(6% 0, 93% 0, 100% 8%, 100% 86%, 90% 89%, 88% 100%, 5% 100%, 0% 85%);
    clip-path: polygon(6% 0, 93% 0, 100% 8%, 100% 86%, 90% 89%, 88% 100%, 5% 100%, 0% 85%);
}

.neon-btn .span {
    display: flex;
    -webkit-clip-path: polygon(6% 0, 93% 0, 100% 8%, 100% 86%, 90% 89%, 88% 100%, 5% 100%, 0% 85%);
    clip-path: polygon(6% 0, 93% 0, 100% 8%, 100% 86%, 90% 89%, 88% 100%, 5% 100%, 0% 85%);
    position: absolute;
    inset: 1px;
    background-color: #212121;
    z-index: 1;
}

.neon-btn .txt {
    text-align: right;
    position: relative;
    z-index: 2;
    color: aliceblue;
    font-size: 1em;
    transition: all ease-in-out 2s linear;
    text-shadow: 0px 0px 1px #4090b5, 0px 0px 1px #9e30a9, 0 0 1px white;
}

.neon-btn::before {
    content: "";
    position: absolute;
    height: 300px;
    aspect-ratio: 1.5/1;
    box-shadow: -17px -19px 20px #9e30a9;
    background-image: conic-gradient(#9e30a9, transparent, transparent, transparent, transparent, transparent, transparent, #9e30a9);
    animation: rotate 4s linear infinite -2s;
}

.neon-btn::after {
    content: "";
    position: absolute;
    height: 300px;
    aspect-ratio: 1.5/1;
    box-shadow: -17px -19px 10px #4090b5;
    background-image: conic-gradient(#4090b5, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #4090b5);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes colorchange {
    0% {
        text-shadow: 0px 0px 0px #9e30a9, 0px 0px 0px #4090b5, 0 0 0px rgba(255, 255, 255, 0.616);
    }

    50% {
        text-shadow: -6px 5px 1px #9e30a9, 5px 11px 1px #4090b5, 0 0 20px rgba(255, 255, 255, 0.616);
    }

    to {
        text-shadow: 2px 4px 1px #9e30a9, 2px 2px 1px #4090b5, 0 0 20px rgba(255, 255, 255, 0.616);
    }
}

@keyframes backgroundchange {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #4090b5;
    }

    to {
        background-color: transparent;
    }
}

/* corte6 */
.radio-input {
    display: flex;
    height: 210px;
    align-items: center;
}

.glass {
    z-index: 2;
    height: 110%;
    width: 95px;
    margin-right: 25px;
    padding: 8px;
    background-color: rgba(190, 189, 189, 0.5);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
        rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
        rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
    backdrop-filter: blur(8px);
}

.glass-inner {
    width: 100%;
    height: 100%;
    border-color: rgba(245, 245, 245, 0.45);
    border-width: 9px;
    border-style: solid;
    border-radius: 30px
}

.selector {
    display: flex;
    flex-direction: column;
}

.choice {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

.choice>div {
    position: relative;
    width: 41px;
    height: 41px;
    margin-right: 15px;
    z-index: 0;
}

.choice-circle {
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border-width: 9px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0.45);
    cursor: pointer;
    box-shadow: 0px 0px 20px -13px gray,
        0px 0px 20px -14px gray inset;
}

.ball {
    z-index: 1;
    position: absolute;
    inset: 0px;
    transform: translateX(-95px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px,
        0px -1px 15px -8px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
    background-color: rgb(232, 232, 232, 1);
}

.choice-circle:checked+.ball {
    transform: translateX(0px);
}

.choice-name {
    color: rgb(177, 176, 176);
    font-size: 35px;
    font-weight: 900;
    font-family: monospace;
    cursor: pointer;
}

/* corte7 */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
}

.input::placeholder,
.input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: #8f8f8f;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:focus~.input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* corte8 */
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

/* corte9 */
/* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */

.form {
    --input-bg: #FFf;
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 40px;
    /*  height */
    width: 200px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
}

.form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

/* style for both icons -- search,close */
.form svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.form input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}

/* corte10 */