/* LOGIN - REGISTRO - RECUPERACION */
.login-page {
    background-image: url(alt/img/noche.jpg);
    background-size: cover;
}

.register-page {
    background-image: url(alt/img/noche.jpg);
    background-size: cover;
}

.logo-login {
    width: 4rem;
    height: 4rem;
}

.card-header {
    background-color: rgba(255, 0, 0, 0);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-body {
    background-color: rgba(255, 0, 0, 0);
    backdrop-filter: blur(7px);
    color: white;
}

.card {
    background-color: transparent;
}

.card-body button {
    border: none;
}

.link-enter {
    color: red;
    text-decoration: none;
}


/* HOME DE LA PAGINA */
.content-wrapper {
    background-color: transparent;
    color: #0F2C59;
}

.wrapper {
    background-color: #F8F0E5;
    width: 100%;
}


/* NAVBAR DE LA PAGINA */
.navbar {
    background-color: #DAC0A3;
    border: none;
    color: #0F2C59;
}

.mb-0 a {
    color: #0F2C59;
}

.btn-group button {
    background-color: transparent;
    border: none;
    color: red;
}

.dropdown-menu {
    background-color: #DAC0A3;
}

.dropdown-item:hover {
    background-color: #EADBC8;
}

.nav-link i {
    color: #0F2C59;
}

.img-user p {
    color: #0F2C59;
}


/* FOOTER */
.main-footer {
    background-color: #DAC0A3;
    color: #0F2C59;
    border: none;
}

/* LISTADOS GENERALES */

.listado-header {
    background-color: transparent;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3rem;
    text-transform: uppercase;
}

.listado-header p {
    font-size: 2rem;
}

.lista-gen-header {
    margin-bottom: 50px;
    backdrop-filter: blur(7px);
    text-align: left;
}

.btn-agregar {
    padding: 0.6em 1em;
    background-color: #0F2C59;
    color: white;
    font-size: 16px;
}

.lista-gen {
    background-color: #ad8b73b0;
    color: #0F2C59;
    border: none;
}

.header-editor {
    background-color: red;
    display: flex;
    justify-content: center;
}

.header-editor h3 {
    text-transform: uppercase;
    font-size: 2rem;
}

.btn-actualizar {
    background-color: white;
    color: black;
    border: 1px white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* PAGINA DE CONTACTO */

.form-contact {
    width: 100%;
}

.card-contact {
    width: 90%;
    height: 95vh;
}